body {
    background-color: #EAF6F6;
    color: #66BFBF;
    margin: 100px auto;
    text-align: center;
    width: 40%;
    font-family: 'Merriweather', serif;
}

.beginning-image {
    width: 25%;
}

.beginning-title {
    padding-top: 1.5rem;
    font-family: 'Sacramento', cursive;
    font-size: 562.5%;

}

h2 {
    font-family: 'Montserrat', sans-serif;

}